<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/css/Home.css">
</head>
<body>
    <div class="home">
        <div class="home-page"><!--Home-->
            <div class="home-slogan"><!--Home-img and slogan-->
                <img class="home-img" src="style/design/site-img/blue-clouds-day-fluffy-53594.jpeg" alt="Sky-img">
                <h1 class="slogan">Вільні, як птахи у небі</h1>
            </div>
            <div class="control-panel"><!--Control-menu-->
                <button class="dB-menu-item" onclick="document.location='/'">
                    <p class="dB-menu-item-text">Home</p>
                </button>
                <button class="dB-menu-item" onclick="document.location='/personTable'">
                    <p class="dB-menu-item-text">Person</p>
                </button>
            </div>
        </div>
    </div>
</body>
</html>