<!DOCTYPE html>
<html>

<head>
    <title>Добавление пользователя</title>
    <meta charset="utf-8" />
    <style>
        .field {
            width: 180px;
        }
    </style>
</head>

<body>
    <h1>Добавление пользователя</h1>
    <form method="POST">
        <label>Ім'я</label><br>
        <input name="name" class="field" /><br><br>
        <label>Прізвище</label><br>
        <input surname="surname" class="field"/><br><br>
        <label>Дата народження</label><br>
        <input name="dateOfBirth" class="field"/><br><br>
        <input type="submit" value="Отправить"/>
    </form>
    <a href="/personTable">К списку пользователей</a>
</body>
<html>