<!DOCTYPE html>
<html>

<head>
    <title>Додання даних людини</title>
    <meta charset="utf-8" />
    <style>
        .field {
            width: 180px;
        }
    </style>
</head>

<body>
    <h1>Додання даних людини</h1>
    <form method="POST">
        <label>Ім'я</label><br>
        <input name="Name" class="field" /><br><br>
        <label>Прізвище</label><br>
        <input name="Surname" class="field" /><br><br>
        <label>Дата народження</label><br>
        <input name="DateOfBirth" class="field" /><br><br>
        <input type="submit" value="Отправить" />
    </form>
    <a href="/">До списку людей</a>
</body>
<html>