<!DOCTYPE html>
<html>

<head>
    <title>Редактирование даних людини</title>
    <meta charset="utf-8" />
    <style>
        .field {
            width: 180px;
        }
    </style>
</head>

<body>
    <h1>Редактирование даних людини</h1>
    <form action="/edit" method="POST">
        <input type="hidden" name="IdPerson" value="{{person.IdPerson}}" />
        <label>Ім'я</label><br>
        <input name="Name" value="{{person.Name}}" class="field" /><br><br>
        <label>Прізвище</label><br>
        <input name="Surname" value="{{person.Surname}}" class="field" /><br><br>
        <label>Дата народження</label><br>
        <input name="DateOfBirth" type="date" value="{{person.DateOfBirth}}" class="field" /><br><br>
        <input type="submit" value="Отправить" />
    </form>
    <a href="/">До списку людей</a>
</body>
<html>