<!DOCTYPE html>
<html>

<head>
    <title>Редактирование пользователя</title>
    <meta charset="utf-8" />
    <style>
        .field {
            width: 180px;
        }
    </style>
</head>

<body>
    <h1>Редактирование пользователя</h1>
    <form action="/edit" method="POST">
        <input type="hidden" name="idPerson" value="{{person.idPerson}}" />
        <label>Ім'я</label><br>
        <input name="name" value="{{person.name}}" class="field" /><br><br>
        <label>Прізвище</label><br>
        <input name="surname" value="{{person.surname}}" class="field" /><br><br>
        <label>Дата народження</label><br>
        <input name="dateOfBirth" type="date" value="{{person.dateOfBirth}}" class="field" /><br><br>
        <input type="submit" value="Отправить" />
    </form>
    <a href="/personTable">К списку пользователей</a>
</body>
<html>